<%= render "shared/second-header"%>
  
  <div class='finish-registration'>
      <div class='finish'>登録が完了しました</div>
      <%= link_to "トップへ戻る", root_path, class:"root-btn" %>
  </div>

<%= render "shared/second-footer"%>